.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/TestResults
**/coverage
**/coverage.*
**/*.coverage
**/*.coveragexml
**/*.trx

.dotnet
.dotnet-cli
node_modules

*.log
*.tmp
*.user
*.suo

README.md
docs
specs
scripts
